<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans" xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <http pattern="/css/**" security="none"/>
    <http pattern="/images/**" security="none"/>
    <http pattern="/image/**" security="none"/>
    <http pattern="/js/**" security="none"/>

    <http auto-config="true" access-denied-page="/test/deny">
        <intercept-url pattern="/admin/train/getSites" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/tourist" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/tourist/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/user" access="ROLE_USER"/>
        <intercept-url pattern="/user/**" access="ROLE_USER"/>
        <intercept-url pattern="/genal/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN"/>

        <!--default-target-url="/home/loginSuccess.action"(登录成功的url)-->
        <form-login login-page="/genal/login" />

        <logout invalidate-session="true"
                logout-success-url="/test/succes"/>

        <!-- SESSION超时后跳转到该页面 -->
        <!-- <session-management invalid-session-url="/timeout.jsp"> </session-management> -->

        <custom-filter ref="validateCodeAuthenticationFilter" before="FORM_LOGIN_FILTER"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="myUserService"/>
    </authentication-manager>

    <b:bean id="validateCodeAuthenticationFilter"
            class="jmu.edu.cn.filter.ValidateCodeFilter">
        <b:property name="authenticationSuccessHandler" ref="loginSuccessHandle"></b:property>
        <b:property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler"></b:property>
        <b:property name="authenticationManager" ref="authenticationManager"></b:property>
    </b:bean>

    <!-- 登录成功 -->
    <b:bean id="loginSuccessHandle"
            class="jmu.edu.cn.filter.LoginSuccessHandle">
    </b:bean>

    <!-- 登录失败 -->
    <b:bean id="simpleUrlAuthenticationFailureHandler"
            class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <b:property name="defaultFailureUrl" value="/genal/login?msg=errorUser"></b:property>
    </b:bean>


    <b:bean id="myUserService" class="jmu.edu.cn.service.MyUserDetailService"></b:bean>

</b:beans>

